
body {
	padding-left: 160px;
	padding-right: 160px;
	position: relative;
}

h1 {
		font-family: 'Neon';
		font-size: 32px;
		color: rgb(255, 143, 0);
		text-align: center;
		line-height: 38px;
	}

	.bloc_H1 {
		padding: 0 10px;
	}

.moi {
	width: 200px;
	height: auto;
	border: 4px solid rgb(255, 143, 0);
	border-radius: 12px;
}

#bas {
	display: flex;
	justify-content: space-around;
}

.section0 {
	margin-top: 50px;
	display: block;
	margin: auto;
}

.section0 h1 {
	display: flex;
	justify-content: center;
	font-size: 28px;
}

.section1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.section1 p {
	font-size: 22px;
	font-family: 'Berlin Sans FB';
	color: black;
}


li {
	list-style: none;
}

.section0 {
}

.concepteur {
	position: absolute;
	z-index: -10;
	right: 0rem;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: 72px;
	color: rgb(255, 143, 0);
	opacity: 0.4;
}

@font-face {
    font-family: 'Neon';
    src: url('Neon.ttf');
}

p {
	font-size: 22px;
	font-family: 'Berlin Sans FB';
	color: black;
}

ul {
	font-family: 'Berlin Sans FB';
	font-size: 22px;
	color: black;
}


h2 {
	font-family: 'Neon';
	font-size: 30px;
	color: rgb(255, 143, 0);
}


@media (max-width: 1100px) {

	body {
		padding: 0 20px;
	}

	h1 {
		font-family: 'Neon';
		font-size: 32px;
		color: rgb(255, 143, 0);
		text-align: center;
		line-height: 38px;
	}

		h2 {
	font-family: 'Neon';
	font-size: 24px;
	color: rgb(255, 143, 0);
	}

	p {
	font-size: 18px;
	font-family: 'Berlin Sans FB';
	color: black;
	}

	.section1 p {
	font-size: 18px;
	font-family: 'Berlin Sans FB';
	color: black;
	text-align: center;
	}

	.moi {
	width: 140px;
	height: auto;
	border: 4px solid rgb(255, 143, 0);
	border-radius: 12px;
	}

	.section1 {
		flex-direction: column-reverse;
		line-height: 26px;
	}

	ul {
	font-family: 'Berlin Sans FB';
	font-size: 18px;
	color: black;
	padding-left: 10px;
	}

	.liste li {
		display: inline;
	}


	#bas {
	display: block;
	justify-content: space-around;
	}

	.titrage {
		font-weight: bold;
	}





}

@media (max-width: 800px) {

	body {
		padding: 0 20px;
	}

	h1 {
		font-family: 'Neon';
		font-size: 28px;
		color: rgb(255, 143, 0);
		text-align: center;
		line-height: 38px;
	}

		h2 {
	font-family: 'Neon';
	font-size: 24px;
	color: rgb(255, 143, 0);
	}

	p {
	font-size: 18px;
	font-family: 'Berlin Sans FB';
	color: black;
	}

	.section1 p {
	font-size: 18px;
	font-family: 'Berlin Sans FB';
	color: black;
	text-align: center;
	}

	.moi {
	width: 140px;
	height: auto;
	border: 4px solid rgb(255, 143, 0);
	border-radius: 12px;
	}

	.section1 {
		flex-direction: column-reverse;
		line-height: 26px;
	}

	ul {
	font-family: 'Berlin Sans FB';
	font-size: 18px;
	color: black;
	padding-left: 10px;
	}

	.liste li {
		display: inline;
	}


	#bas {
	display: block;
	justify-content: space-around;
	}

	.titrage {
		font-weight: bold;
	}

	
}

@media (max-width: 520px) {

	body {
		padding: 0 20px;
	}

	h1 {
		font-family: 'Neon';
		font-size: 28px;
		color: rgb(255, 143, 0);
		text-align: center;
		line-height: 38px;
	}

		h2 {
	font-family: 'Neon';
	font-size: 24px;
	color: rgb(255, 143, 0);
	}

	p {
	font-size: 18px;
	font-family: 'Berlin Sans FB';
	color: black;
	}

	.section1 p {
	font-size: 18px;
	font-family: 'Berlin Sans FB';
	color: black;
	text-align: center;
	}

	.moi {
	width: 140px;
	height: auto;
	border: 4px solid rgb(255, 143, 0);
	border-radius: 12px;
	}

	.section1 {
		flex-direction: column-reverse;
		line-height: 26px;
	}

	ul {
	font-family: 'Berlin Sans FB';
	font-size: 18px;
	color: black;
	padding-left: 10px;

	}

	.liste li {
		display: inline;
	}

	

	#bas {
	display: block;
	justify-content: space-around;
	}

	.titrage {
		font-weight: bold;
	}


}
